/* Nav ----------------------------------------------*/
.nav {
  background-color: #333;
  color: white;
  padding: 1px 1px 1px 10px;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.navLink {
  color: white;
  text-decoration: none;
}

.navLink.disabled-link {
  color: #999;
  cursor: not-allowed;
}

.cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8em;
  margin-left: 5px;
  display: inline-block;
  min-width: 10px;
  text-align: center;
  line-height: normal;
}

/* producto --------------------------------------------*/

.productos-conteiner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  width: 100%;
}

.producto-card {
  background: #648db3;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 30%;
  height: 100%;
  text-align: center;
  margin-top: 5px;
}

.producto-image {
  width: 140px;
  height: auto;
  aspect-ratio: 3 / 4;
  border-radius: 10px;
  object-fit: cover;
  display: block;
  margin: 0 auto 10px auto;
}

.producto-name {
  color: black;
}

.producto-price {
  color: black;
  font-style: italic;
}

.boton-detalles {
  width: 80%;
  padding: 12px;
  background-color: #5459ac;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.boton-detalles:hover {
  background-color: #43478a;
}

.boton-eliminar-producto {
  width: 80%;
  padding: 12px;
  background-color: rgb(134, 75, 75);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.boton-eliminar-producto:hover {
  background-color: maroon; 
}

/* Admin ----------------------------------------------*/
.admin {
  color: black;
}

/* ProductosContainer ---------------------------------*/
.cargando {
  color: black;
}

/* ProductoDetalle------------------------------------*/
.detalle-container {
  display: flex;
  gap: 30px;
  padding: 20px;
  background-color: #648db3;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 800px;
  align-items: center;
}

.detalle-imagen {
  width: 300px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.detalle-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
}

.detalle-contador {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
}

.detalle-contador span {
  font-size: 18px;
  color: black;
}

.detalle-contador button {
  background-color: #065f1b;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.detalle-contador button:hover {
  background-color: #218838;
  transform: scale(1.1);
}

/* Contacto ------------------------------------*/

.contacto-p{
    color: black;
}

/* Formulario Producto y Edicion ------------------------------------*/
.formulario-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;

  min-height: calc(100vh - 150px);
}

.formulario-producto {
   background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 375px;
  box-sizing: border-box;
}

.formulario-producto h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
  font-size: 20px;
}

.formulario-grupo {
  margin-bottom: 15px;
}

.formulario-producto label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}


.formulario-producto input[type="password"],
.formulario-producto input[type="email"],
.formulario-producto input[type="text"],
.formulario-producto input[type="number"],
.formulario-producto textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.formulario-producto input:focus,
.formulario-producto textarea:focus {
  border-color: #5459ac;
  outline: none;
  box-shadow: 0 0 8px rgba(84, 89, 172, 0.4);
}

.formulario-producto textarea {
  resize: vertical;
  min-height: 100px;
}

.formulario-boton {
  width: 100%;
  padding: 12px;
  background-color: #5459ac;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.formulario-boton:hover {
  background-color: #43478a;
}